{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="login-container">
        <div>
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <input type="submit" class="login login-submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </div>
</form>
