{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="wrapper container-fluid">
        <div class="text-center">
            <h2>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h2>
            <a href="{{ path('profil') }}"><button>Accéder à mon profil</button></a>
         </div>
    </div>
{% endblock fos_user_content %}
