{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
 {% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/content-admin.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block sonata_admin_content %}

    <div class="" id="list-content">

        <h2>Recherchez sur l'API Google :</h2>
        <div class="input-group">
            <label>Mots clés :</label>
            <input type="text" name="keywords" onkeyup="search(this)" id="keywords" />
        </div>

        <div id="contents">
            {{ include('admin/content-list.html.twig', { 'contents': contents }) }}
        </div>
    </div>

{% endblock %}