{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="wrapper-item">
            <span>Page d'accueil</span>
        </div>
        <div class="wrapper-item">
            <span>Contenus</span>
        </div>
        <div class="wrapper-item">
            <span>CMS</span>
        </div>
        <div class="wrapper-item">
            <span>Salons</span>
        </div>
        <div class="wrapper-item">
            <span>Membres</span>
        </div>
    </div>
{% endblock %}