{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="login-container">
        <h1>Changer mot de passe</h1>
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="login login-submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }}