{% extends 'base.html.twig' %}
{% block js %}
    <script src="{{ asset('js/contenus.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid wrapper" id="contenus">
        <h1>Contenus</h1>
        <div id="contents">
            {{ include('contents/content-list.html.twig', { 'contents': contents }) }}
        </div>
    </div>
{% endblock %}