{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper container">
        <h1>Contenus</h1>
        <div class="filters">
            <div class="form-group">
                <span>Catégorie: </span>
                <select class="form-control inline">
                    <option>Livre</option>
                    <option>Film</option>
                    <option>Jeu vidéo</option>
                </select>
            </div>
            <div class="form-group">
                <span>Sous catégorie: </span>
                <select class="form-control inline">
                    <option>Roman policier</option>
                    <option>Science fiction</option>
                </select>
            </div>
        </div>
        <div class="content">
            <div class="content-list">
                <div class="row">
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Auteur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Auteur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Auteur</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Auteur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Auteur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Auteur</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}