{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <h1>Contenus</h1>
        <div class="filters">
            <span>Catégorie</span>
            <select>
                <option>Livre</option>
                <option>Film</option>
                <option>Jeu vidéo</option>
            </select>
            <span>Sous catégorie</span>
            <select>
                <option>Roman policier</option>
                <option>Science fiction</option>
            </select>
        </div>
    </div>
{% endblock %}