{% extends 'base.html.twig' %}

{% block body %}
    <div class="floating-menu">
        <p>Inscrivez vous</p>
        <form action="#" method="post">
            <label>Email:</label>
            <input type="text" name="email">
        </form>
    </div>
    <div class="floating-menu second">
        <p>Prochain salon</p>
        <span>Madame Bovary</span>
        <span>Gustave Flaubert</span>
        <span>22/03/2017 - 20h</span>
    </div>
    <div class="wrapper">
        {% if cms %}
        <div class="concept">
            <h2>{{ cms.title }}</h2>
            <p>{{ cms.content|raw }}</p>
        </div>
        {% endif %}
        <div class="clear"></div>
        <div class="featured">
            {% if block_home %}
                <h2>A la une</h2>
                <div class="content-list">
                    {% for content in block_home.contents  %}
                        <div class="col-md-4 featured-item">
                            <a href="#">
                                <img src="https://unsplash.it/200/300/?random">
                            </a>
                            <div class="book-infos">
                                <span>{{ content.title }}</span>
                                <span>{{ content.author.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
