{% extends 'base.html.twig' %}

{% block body %}
    <div class="floating-menu">
        <p>Inscrivez vous</p>
        <form action="#" method="post">
            <label>Email:</label>
            <input type="text" name="email">
        </form>
    </div>
    <div class="floating-menu second">
        <p>Prochain salon</p>
        <span>Madame Bovary</span>
        <span>Gustave Flaubert</span>
        <span>22/03/2017 - 20h</span>
    </div>
    <div class="wrapper">
        <div class="concept">
            <h2>Le concept</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel leo commodo, malesuada elit et, lacinia leo. Sed vitae dictum lacus, in dictum mi. Pellentesque vel ultrices dolor, id porta libero. Donec vehicula vulputate scelerisque. Nam vel placerat elit. Donec et nisi eleifend, rutrum diam in, mattis dui. Praesent vel nibh nunc. Nam semper quam in venenatis vulputate. Maecenas in rhoncus odio. Sed scelerisque lacus non aliquet scelerisque.<br><br>

                Donec laoreet turpis in ligula porta rhoncus. Aenean erat turpis, sagittis et faucibus pellentesque, aliquet quis turpis. Nunc facilisis dolor enim. Aenean vulputate tempor tempus. Vivamus ultrices ex et tellus commodo, id dictum odio posuere. Vestibulum maximus vestibulum finibus. Sed efficitur nunc sed dictum fermentum. Quisque at vulputate turpis. Vivamus tincidunt magna id neque bibendum, eget hendrerit massa lacinia.<br><br>

                Quisque nisl augue, tempor eget eros non, condimentum pellentesque orci. Pellentesque bibendum gravida leo eu feugiat. Nullam hendrerit eget dui vel tempus. Nunc tempor arcu leo. Nunc ullamcorper bibendum leo, at cursus tortor accumsan in. Maecenas molestie ex nec risus iaculis, non varius ex cursus. Aliquam erat volutpat. Maecenas scelerisque sollicitudin velit, dignissim dapibus mauris pulvinar ac. Maecenas faucibus cursus tellus et lacinia. Suspendisse posuere elementum nisl sit amet volutpat. Sed eget dolor eget ante varius luctus a vel elit. Donec nec vehicula elit.<br><br>

                Quisque vitae viverra augue. Aenean suscipit, neque a rutrum placerat, sapien velit sodales dolor, facilisis interdum magna massa et sem. Ut non nibh id urna tristique feugiat ac ut diam. Nulla in orci porttitor, eleifend nulla at, eleifend dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean fringilla iaculis est ac ultricies. Mauris vel efficitur ante. Sed enim tellus, pretium sit amet velit in, tristique pretium mi. Phasellus placerat tempus egestas. Proin turpis arcu, tincidunt vel nunc ut, iaculis rutrum massa. Suspendisse fermentum ex non felis faucibus consectetur. Fusce vehicula pretium fermentum. Nullam pellentesque vehicula augue id congue. Nulla vel nunc ligula. Morbi eu suscipit nisi, sed auctor nisi.</p>
        </div>
        <div class="clear"></div>
        <div class="featured">
            <h2>A la une</h2>
            <div class="featured-list">
                <div class="row">
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
