{% extends 'base.html.twig' %}

{% block body %}
    <div class="floating-menu">
        <p>Inscrivez vous</p>
        <form action="#" method="post">
            <label>Email:</label>
            <input type="text" name="email">
        </form>
    </div>
    <div class="floating-menu second">
        <p>Prochain salon</p>
        <span>Madame Bovary</span>
        <span>Gustave Flaubert</span>
        <span>22/03/2017 - 20h</span>
    </div>
    <div class="wrapper">
        <div class="concept">
            <h2>{{ cms.title }}</h2>
            <p>{{ cms.content|raw }}</p>
        </div>
        <div class="clear"></div>
        <div class="featured">
            <h2>A la une</h2>
            <div class="content-list">
                <div class="row">
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                    <div class="featured-item">
                        <a href="#">
                            <img src="https://unsplash.it/200/300/?random">
                        </a>
                        <div class="book-infos">
                            <span>Titre</span>
                            <span>Autheur</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
