{% for user in users %}
    <div class="col-md-3  mini-user">
        <a href="{{ path('user',{'id': user.id}) }}">
            <img class="img-responsive" src="{{ asset('img/avatar_placeholder.png') }}">
        </a>
        <div class="book-infos">
            <h3>{{ user.username }}</h3>
        </div>
    </div>
{% endfor %}