{% extends 'base.html.twig' %}

{% block title %}Club des critiques | Salon{% endblock %}
{% block body %}


    <div class="wrapper container-fluid" id="salon">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="concept">
                    <h2>SALONS</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-2 chat" id="chat">





                <div class="row">
                    <div class="col-md-12 message" id="message">

                    </div>
                </div>
            </div>

            <div class="col-md-4 liste-membres">

            </div>
        </div>
    </div>

{% endblock %}