{% extends 'base.html.twig' %}

{% block title %}Club des critiques | Salon{% endblock %}
{% block body %}


    <div class="wrapper container-fluid" id="salon">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="concept">
                    <h2>SALON</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1 bloc-chat" id="block-chat">
                <div class="chat" id="chat">
                    <p>chat</p>
                </div>

                <div class="col-md-12 message" id="message">
                    <p>message</p>
                </div>

            </div>

            <div class="col-md-4 liste-membres">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Liste des membres dans le salon</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for i in 0..10 %}
                        <tr>
                            <th scope="row">Nom et prénom</th>
                            <td>
                                <div class="liste-salon-item {% if controller is defined and controller == 'salons' %}active{% endif %}">
                                        <span>
                                            <a href="{{ path('salon') }}">Signaler | Contacter</a>
                                        </span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right">
                    <a href="">Inviter un contact</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}