/** GENERAL **/

*{
    font-family: 'Roboto', sans-serif;
}

h1,h2{
    font-family: 'CaviarDreams', sans-serif;
    /*font-weight: bold;*/
}

h1{
    font-size: 42px;
    margin-bottom: 70px;
    text-transform: uppercase;
}

h2{
    margin-left: 45px;
    text-transform: uppercase;
}

.menu {
    /*width: 100%;*/
    /*background-color: #25283C;*/
    display: inline-block;
    vertical-align: bottom;
    /*margin-top: 10px;*/
}
.menu-item {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

.menu-item.first {
    margin-left: 0px;
}

.menu-item.active {
    /*background-color: #70BEB1;*/
}

.menu-item span a, .menu-item span a:hover, .menu-item span a:visited  {
    text-decoration: none;
}

.logo {
    /*width: 100%;*/
    /*padding-top: 10px;*/
}
.logo img{
    width: 100px;
}

.logo, .user-actions {
    display: inline-block;
}

.user-actions {
    display: flex;
    justify-content: flex-end;
    /*margin-right: 10px;*/
}
.user-actions-item {
    display: block;
    padding: 10px;
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
    /* position: fixed;*/
    bottom: 0;
    background-color: #CEE8DF;
}

.form-group {
    margin: auto;
    width: 72%;
    margin-bottom: 20px;
}

.form-control.inline {
    display: inline-block;
    width: 30%;
}

/*** INDEX ***/

.floating-menu {
    border: 1px solid grey;
    /*width: 20%;*/
    padding: 20px;
    /*position: fixed;*/
    /*right: 0;*/
    background-color: lightgrey;
    text-align: center;
}

.floating-menu span {
    display: block;
}

.content-list {
    text-align: center;
    margin-bottom: 50px;
}

.featured {
    height: auto;
}

.featured-item {
    display: inline-block;
    /*width: auto;*/
    min-height:340px;
    margin-right: 87px;
    /*padding-bottom: 80px;*/
    padding-left: 0;
}

.featured-item span{
    display: block;
}

.wrapper {
    padding: 10px;
}

.concept {
    /*width: 80%;*/
    text-align: justify;
}

.btn-primary{
    background-color: #25283C !important;
    border-color : #70BEB1 !important;
}

.btn-primary:hover, .menu-item .btn-primary a:hover,
.btn-primary:hover, .menu-item .btn-primary a:visited {
    background-color: #70BEB1 !important;
    color : #ffffff !important;
}

/* Footer */
#footer {
    color: white;
    height: 150px;
    background-color: #25283C;
}

#footer .nav-footer {
    text-align: center;
}

#footer .nav-footer .row {
    display: inline-block;
    width: 80%;
    padding-top: 15px;
}

#footer .nav-footer .row a, #footer .nav-footer .row a:hover, #footer .nav-footer .row a:visited {
    color: white;
    display: block;
    margin-bottom: 10px;
}

#footer .nav-footer .row .col-footer {
    text-align: center;
    text-decoration: none;
}

/** NAVBAR **/

.navbar{
    border-radius : 0px !important;
    position : fixed;
    top : 0;
    width : 100%;
    background-color: #25283C;
}

.main-nav{
     display: flex;
     padding-top : 10px;
     padding-bottom : 10px;
 }

.menu, .logo, .user-actions{
     margin : auto;
 }

.wrapper{
     /*margin-top : 77px;*/
    margin-top : 100px;
 }

.menu-item span a, .user-actions span a{
     color : #FFFFFF;
     text-decoration : none;
     font-size: 15px;
     font-weight: 400;
 }

.menu-item span a:hover{
    color: #70BEB1;
}

#flashMessages {
    margin-top:78px;
}

.img-thumbnail{
    opacity: 1;
}

.img-thumbnail:hover{
    opacity: 0.7;
}
