/* Général */

.logo {
    text-align: center;
}

.add-content{
    border:solid 1px black;
}

.img-responsive{
    min-width: 210px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button{
    border: 0px;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #6ebeb1;
    font-family: roboto;
    font-size: 14px;
    width: 210px;
    padding: 10px 10px 10px 10px;
}

button:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #439486;
}

/*.menu{*/
    /*height: 60px;*/
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
/*}*/

.menu-connexion{
    justify-content: flex-end;
}
.nom{
    text-transform: uppercase;
}
.mini-content{

}

.wrap-mini-contents,wrap-mini-contacts {
    margin-top: 40px;
    margin-bottom: 100px;
}

.wrap-mini-contents, .wrap-mini-contacts{
    text-align: center;
}

.wrap-mini-contents h2, .wrap-mini-contacts h2{
    text-align: left;
}


/* Fin général */

/* Page des contenus */

#contenus{

}

#contenus h1{
    text-align: center;
}
/* Fin page des contenus */

/* Page d'une oeuvre */

.cover-oeuvre img{
    max-height: 700px !important;
}

.footer{
    position: static !important ;
}

#note-oeuvre div{
    display: inline-block;
    border:1px solid black;
    width:30px;
    height: 30px;
}

#note-oeuvre div:hover{
    cursor: pointer;
}

.note-active, .note-actuelle{
    background-color: yellow;
}

.note-inactive{
    background-color: white !important;
}

.wrap-oeuvre{
    margin-top: 40px;
}

/* Fin de page d'une oeuvre */

/* Page de profil */

.wrap-floating-menu{
    display: flex;
}
.floating-menu-profile{
    width: 18% !important;
}

.floating-menu-profile p{
    text-align: left !important;
}



/*.floating-menu .second{*/
    /*top : 30%;*/
/*}*/

.photo-profil {
    width: 300px;
    overflow: hidden;
}

.photo-profil img{
}

.wrap-form div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-form textarea{
    resize: vertical;
    height: 150px;
}

#liens-profil{
    margin-top: 30px;
    text-align: center;
}

/* Fin de page de profil */