/* Général */

.logo {
    text-align: center;
}

.add-content{
    border:solid 1px black;
}

.img-responsive{
    min-width: 210px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button{
    border: 0px;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #6ebeb1;
    font-family: roboto;
    font-size: 14px;
    width: 210px;
    padding: 10px 10px 10px 10px;
}

button:hover {
    /*border: 0px;*/
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #439486;
}

/*.menu{*/
    /*height: 60px;*/
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
/*}*/

.menu-connexion{
    justify-content: flex-end;
}
.nom{
    text-transform: uppercase;
}
#content-list .mini-content{
    height: 600px;
}

.wrap-mini-contents,wrap-mini-contacts {
    margin-top: 40px;
    margin-bottom: 100px;
}

.wrap-mini-contents, .wrap-mini-contacts{
    text-align: center;
}

.wrap-mini-contents h2, .wrap-mini-contacts h2{
    text-align: left;
}

.mini-contact{
    text-align: center;
}

.mini-contant .img-thumbnail{
    width: 200px;
    height: 200px;
}


/* Fin général */

/* Page des contenus */

#contenus{

}

#contenus h1{
    text-align: center;
}
/* Fin page des contenus */

/* Page d'une oeuvre */

.cover-oeuvre img{
    max-height: 700px !important;
}

.footer{
    position: static !important ;
}

#note-oeuvre div{
    display: inline-block;
    width:30px;
    height: 30px;
}

#note-oeuvre div:hover{
    cursor: pointer;
}

.note-active, .note-actuelle{
    background-image: url('../img/note_active.png');
    background-size: 100%;
}

.note-inactive{
    background-image: url('../img/note_inactive.png'); !important;
    background-size: 100%;
}

.wrap-oeuvre{
    margin-top: 40px;
}

/* Fin de page d'une oeuvre */

/* Page de profil */

.wrap-floating-menu{
    display: flex;
}
.floating-menu-profile{
    width: 18% !important;
}

.floating-menu-profile p{
    text-align: left !important;
}
.mini-content-profil,
.mini-contact{
    height: 300px;
}
.mini-content-profil h3,
.mini-contact{
    font-size: 1.2em;
}

.mini-content-profil button,
.mini-contact button{
    width: initial;
    position: absolute;
    bottom: 43%;
    text-align: center;
    left: 45%;
    background-color: rgba(230, 230, 230, 0.7);
}
.mini-content-profil button:hover,
.mini-contact button:hover{
    background-color: rgba(230, 230, 230, 1);
}

.mini-content-profil .img-thumbnail,
.mini-contact .img-thumbnail{
    /*max-height: 180px;*/
}

.wrap-mini-contents-profil{
    margin-top: 40px;
    margin-bottom: 100px;
}

.wrap-mini-contents-profil{
    text-align: center;
}

.wrap-mini-contents h2, .wrap-mini-contacts h2{
    text-align: left;
}

.mini-content-profil .material-icons,
.mini-contact .material-icons{
    font-size: 30px;
}

.material-icon-delete,
.material-icon-share{
    margin-bottom: 0;
    background: none;
    font-size: 14px;
    padding: 0;
    color: #25283C;


}

.material-icon-delete:hover,
.material-icon-share:hover {
    border: 0px;
    background: none;
}

.buttons-share{
    display: inline-flex;
    width: 64%;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: absolute;
    right: 18%;
    bottom: 42%;
}
.buttons-share button {
    position: static;
}

/*.floating-menu .second{*/
    /*top : 30%;*/
/*}*/

.photo-profil {
    /*width: 300px;*/
    overflow: hidden;
}



.wrap-form div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-form textarea{
    resize: vertical;
    height: 150px;
}

#liens-profil{
    margin-top: 30px;
    text-align: center;
}

/* Fin de page de profil */

/* Chat */

.block-chat{
}

#chat p{
    padding: 15px 5px 15px 5px;
    margin: 0;
    color: #25283C;
}

#chat em{
    font-style: normal;
    font-weight: bold;
    color: #6a6b6b;
}

#chat p strong{
    color:green;
}

#chat .user-sending strong{
    color:red;
}

#block-chat #message{
    padding: 15px 5px 0px 5px;
    border-top: none;
    border-left: none;
    border-right:none;
    width: 100%;
    height: 40px;
}

#block-chat #message:focus{
    outline: none;
}

#chat{
    border: solid 1px #cacaca;
    overflow-y: auto;
    height: 600px;
    background-color: #f5f5f5;
}

#chat p:nth-child(2n-1){
    background: #cee8df;
}

#chat p:nth-child(2n){
    background: #a9d6c7;
}

.material-icon-submit {
    position: absolute;
    border: 0px;
    margin-bottom: 0;
    background: none;
    font-size: 14px;
    padding: 0;
    color: #403a3c ;
    width: initial;
    right: 3%;
    bottom: 0;

}

.material-icon-submit:hover {
    border: 0px;
    background: none;
}

.liste-membres{
    height: 600px;
    overflow-y: auto;
}



