/*html, body{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

h2{
    margin-bottom: 30px;
}


.wrapper{
    /*min-height: 100vh;*/
}

.wrapper.container-fluid{
    margin-bottom: 180px;
}

.wrapper.container-fluid .float-menu{
    position: fixed;
    right: 0;
    padding-left: 5%;
    margin-top: 20px;
    z-index: 10;
}

/****** NAVBAR ******/

.navbar{
    border-radius : 0px !important;
    position : fixed;
    top : 0;
    width : 100%;
    background-color: #25283C;
    z-index: 10;
    transition: transform 500ms;
}

.main-nav{
    display: flex;
    padding-top : 10px;
    padding-bottom : 10px;
}

.menu, .logo, .user-actions{
    margin : auto;
}

.wrapper{
    /*margin-top : 77px;*/
    margin-top : 100px;
}

.menu-item span a, .user-actions span a{
    color : #FFFFFF;
    text-decoration : none;
    font-size: 15px;
    font-weight: 400;
}

.menu-item span a:hover{
    color: #70BEB1;
}

nav.hide-menu{
    /*height: 300px;*/
    transform: translateY(-78px);
}



/****** FLOATING MENU ******/

.floating-menu{
    /*top: 21%;*/
}

.floating-menu.second{
    background-color: #70BEB1;
    border-color: #25283C;
    color: #ffffff;
}

.form-control{
    display: inline-block;

}

.floating-menu .form-control{
    margin-bottom: 10px;
}

.floating-menu form{
    display: flex;
    flex-direction: column;
}

.floating-menu form .btn-default{
    /*align-self: flex-end;*/
    width: 100%;
    background-color: #25283C;
    /*border-color : #70BEB1;*/
    color: #FFFFFF;
}

.floating-menu form .btn-default:hover{
    background-color: #70BEB1;
    border-color: #70BEB1;
}

/*@keyframes fix-top {*/
    /*0% {*/
        /*transform: translateY(0px);*/
    /*}*/
    /*100% {*/
        /*transform: translateY(-50px);*/
    /*}*/
/*}*/

.wrapper .float-menu{
    transition: transform 500ms;
}

.wrapper .float-menu.fix-top{
    /*animation: fix-top 400ms;*/
    transform: translateY(-67px);
    margin-top: 10px;
}

/****** FOOTER ******/

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /*margin-top: 80px;*/
}

/****** FORMULAIRE DE CONTACT ******/

.form-group.row button.btn-primary{
    border-color: #25283C !important;
}

.form-group.row button.btn-primary:hover{
    border-color: #70BEB1 !important;
}

.contact form .form-group.row:last-child{
    padding-right: 15px;
}

.contact form{
    margin-top: 50px;
}

.form-control:focus{
    border-color: #70BEB1;
}

.contact .form-group{
    width: 80%;
}

/****** LISTE SALONS ******/

#liste-salons h2,
#liste-salons .filters .form-group{
    text-align: center;
}

#liste-salons .filters .form-control{
    margin-left: 20px;
    margin-right: 20px;
    width : 20%;
}

#liste-salons .filters,
#contenus .filters{
    margin-top: 50px;
}

.table-hover>tbody>tr{
    cursor: pointer;
}

.table-hover>tbody>tr:hover{
    /*background-color: #e6e6e6;*/
}

/*.table{*/
    /*border: solid 1px #25283C;*/
/*}*/

/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{*/
    /*border-left: solid 1px #25283C;*/
/*}*/

/****** SALON ******/


.chat{
    height: 300px;
    border: solid 1px #70BEB1;
    margin-bottom: 50px;
}

.message{
    height: 150px;
    border: solid 1px #70BEB1;
}