{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrapper container-fluid">
        <h1>{{ cms.title }}</h1>
        <div class="cms-content">
            {{ cms.content|raw }}
        </div>
    </div>
{% endblock %}